---
---
@import "variables";
body {
	width:100%;
}

table {
	table-layout:fixed; // make it so that table does not expand beyond edges if content too big
	width:100%;
}

td.danger .container {
	display:flex;
	height:100%;
	flex-direction: row;
	justify-content: space-between;
}

td.danger.danger-0 {
	color:$danger-0-txt;
	background-color:$danger-0-bg;
	.container::before{
		content: "Safe";
	}
}
td.danger.danger-1 {
	color:$danger-1-txt;
	background-color:$danger-1-bg;
	.container::before{
		content: "Unsafe to children";
	}
}

td.danger.danger-2 {
	color:$danger-2-txt;
	background-color:$danger-2-bg;
	.container::before{
		content: "Some concern for adults";
	}
}
td.danger.danger-3 {
	color:$danger-3-txt;
	background-color:$danger-3-bg;
	.container::before{
		content: "Concern for adults";
	}
}
td.danger.danger-4 {
	color:$danger-4-txt;
	background-color:$danger-4-bg;
	.container::before{
		content: "High concern for adults";
	}
}

td span.highlight{
	font-weight:bold;
	color:inherit;
	background-color:inherit;
}
th {

	div {
		display:flex;
		flex-direction:row;
		justify-content: space-between;
		@media (min-width: 768px) {
			input {
				width:max(40%,6ex);
			}
			input:focus{
				right:40px;
			}

		}
	}
}

@import "mobile"; //it's down here for cascading purposes
