---
---
@import "variables";
body {
	padding:10px;
}

td.danger-0 {
	color:$danger-0-txt;
	background-color:$danger-0-bg;
}
td.danger-1 {
	color:$danger-1-txt;
	background-color:$danger-1-bg;
}
td.danger-2 {
	color:$danger-2-txt;
	background-color:$danger-2-bg;
}
td.danger-3 {
	color:$danger-3-txt;
	background-color:$danger-3-bg;
}
td.danger-4 {
	color:$danger-4-txt;
	background-color:$danger-4-bg;
}
th {

	div {
		display:flex;
		flex-direction:row;
		justify-content: space-between;
		input {
			width:max(40%,6ex);
		}
		input:focus{
			right:40px;
		}
	}
}

