        <!-- Classic favicon -->
	<link rel="icon" href="{{ '/static/favicon.ico' | relative_url }}" type="image/x-icon">
        <!-- Original svg file -->
	<link rel="icon" href="{{ '/static/herb.svg' | relative_url }}" type="image/x-icon">
        <!-- Various sizes for favicons -->
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/favicon-16x16.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/favicon-32x32.png' | relative_url }}">
        <!-- Apple Touch Icon (at least 200x200px) -->
	<link rel="apple-touch-icon" href="{{ '/static/apple-touch-icon.png' | relative_url }}">
        <!-- Android Chrome icons -->
	<link rel="icon" type="image/png" sizes="192x192" href="{{ '/static/android-chrome-192x192.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="512x512" href="{{ '/static/android-chrome-512x512.png' | relative_url }}">
