<header>
	<h1><a href="/" class="logo"><strong>Safer Spices</strong></a> <span>{{ include.active }}</span></h1>
  {% include hamburger.html %}
  <nav>
    <a href="/database" {% if include.active == 'Database' %}class="active"{% endif %}>Database</a>
    <a href="/pages/faq" {% if include.active == 'FAQ' %}class="active"{% endif %}>FAQ</a>
    <a href="/pages/take-action" {% if include.active == 'Take Action' %}class="active"{% endif %}>Take Action</a>
  </nav>
</header>
<script>
	let btn = document.querySelector('.btn');
	btn.addEventListener('click', function() {
		this.classList.toggle('active');
		this.classList.toggle('not-active');
		document.querySelector('nav').classList.toggle('active')
	});
</script>
