@import "variables";
@import "hamburger";

$mobile-nav-gap:3rem;
$mobile-nav-font-size:1.4rem;
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  .active {
    color: gray;
  }
  nav {
    box-sizing: border-box;
    display: flex;
    gap: 1.5em;
    a {
      color: black;
    }
  }
  background-color: $bg-light;
  h1 {
    margin: 0;
  }
  span {
    color: rgb(85, 85, 85);
  }
  .hamburger {
    display: none;
  }
}

@media only screen and (max-device-width: 800px) {
  header {
    .hamburger {
      display: block;
      z-index:4;
    }
    nav {
      position: absolute;
      right: 0;
      transition: all 0.4s;
      height: 100vh;
      width: 100vw;
      z-index: 3;
      background-color: $bg-light;
      font-size:$mobile-nav-font-size;

    }
    nav.active {
      top: 0;
      border: solid 12px black;
      border-image: $saferspices-gradient 60;
      flex-direction: column;
      align-items:center;
      justify-content: flex-start;
      padding-top:$mobile-nav-gap;
      gap:$mobile-nav-gap;
    }
    nav:not(.active) {
      top: -100vh;
    }
  }
}
