$mobile-header-font-size: 6vw;
$mobile-th-font-size: 4vw;
$mobile-td-font-size: 4vw;

@media only screen and (max-device-width: 800px) {
	h1 {
	font-size:$mobile-header-font-size;

	}
	th {
		padding:0px;
		margin:0px;
	}
	th>div{
		display:flex;
		flex-direction:column;
		justify-content: space-between;
		flex-grow:1;
		margin:0;
		padding:0;
		div.label-holder{
			flex-direction:row;
			justify-content: start;
			label {
				font-size: $mobile-th-font-size;
			}
		}
		input {
			width: 90%;
			font-size: $mobile-th-font-size;
		}
	}
	th, td{
		font-size: $mobile-td-font-size;
	}

}
