---
---

@import "variables";
$border-width: 5px;

section {
  padding: 0.5em;
  #accordion-border {
    background: $saferspices-gradient;
    padding: $border-width;
    #accordion-container {
      padding: 1em;
      background-color: $bg-light;
    }
  }
}
