---
---

@import 'minima';
@import "variables";
@import "sort_button";
@import "header";

body {
  width: 100%;
	background: $bg-light;
}

table {
  table-layout: fixed; // make it so that table does not expand beyond edges if content too big
  width: 100%;
  tr:nth-child(2n-1){
	  background-color:$bg-light;
  }
}

td span.highlight {
  font-weight: bold;
  color: inherit;
  background-color: inherit;
}
th {
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (min-width: 768px) {
      input {
        width: max(40%, 6ex);
      }
      input:focus {
        right: 40px;
      }
    }
  }
}

@import "mobile"; //it's down here for cascading purposes
