---
---

@import "variables";

$border-width: 5px;

section {
  display: flex;
  justify-content: center;
  #letter-container {
    background: $bg-light;
    padding: 1em;
    max-width:1000px;
  }
}

//basically a border
#letter-wrapper {
  background: $saferspices-gradient;
  padding: $border-width;
}
#letter {
  //border: solid 1px black;
  padding: 1em;
  background-color: $bg-light;
}
