<!DOCTYPE html>
<html lang="en">
  <head>
    {% include google_tag.html %}
    <meta charset="utf-8" />
    <meta name="description" content="{{page.description | default: site.description }}"/>
    <title>{{site.title}} | {{ page.title }}</title>
    {% include favicon.html %}
    <link rel="stylesheet" href="{{ 'assets/main.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ page.stylesheet | relative_url }}" />
  </head>
  <body>
    {% include header.html active=page.header %}
    <section>{{ content }}</section>
    <footer></footer>
  </body>
</html>
